.game_header {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.game_status {
  width: 510px;
  display: inline-block;
  font-size: 36px;
}

.game_controls {
  display: flex;
  gap: 10px;
}

span {
  width: 140px;
  display: inline-block;
  margin-left: 70px;
}

.text,
.text_win {
  width: 300px;
  display: inline-block;
  text-align: center;
}

.text_win {
  font-weight: bold;
}

.text_o,
.text_x {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin-left: 7px;
  margin-top: -7px;
}

.text_o {
  color: red;
}

.text_x {
  color: blue;
}

.button {
  padding: 2px 6px;
  font-size: 24px;
}

.game {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.cell_o {
  font-size: 6px;
  fill: red;
  stroke: red;
}

.cell_x {
  font-size: 6px;
  fill: blue;
  stroke: blue;
}