h1 {
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

span{
  margin-right: 30px;
}

.space{
  margin-right: 5px;
}

.text_x {
  margin-right: 25px;
  margin-top: -7px;
  font-size: 40px;
  color: blue;
}

.text_o {
  margin-right: 25px;
  margin-top: -7px;
  font-size: 40px;
  color: red;
}

.button {
  padding: 2px 6px;
  font-size: 24px;
}

.game {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.cell {
  font-size: 2px;
  fill: black;
  stroke: black;
}

.cell_x {
  font-size: 6px;
  fill: blue;
  stroke: blue;
}

.cell_o {
  font-size: 6px;
  fill: red;
  stroke: red;
}